Repository kirinnee/test-nix-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-fmt, md-fmt, nixpkgs-fmt, build-nix, gitlint-linter, cfg-scripts, generate-npm-pkgs

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

build-nix:
  name: Build NIX Packages
  entry: pls test
  language: system
  pass_filenames: false

gitlint-linter:
  name: Lints Gitlint to conform to atomi_release.yaml
  entry: sg gitlint
  language: system
  pass_filenames: false

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

generate-npm-pkgs:
  name: Generate Nodejs NIX Packages
  entry: pls gen:node:silent
  pass_filenames: false
  language: system

fix: flakes not supported on CI
  .github/workflows/release.yml
Due: yaml-fmt

fix: mising extra experimental feature flakes for ci
  .github/workflows/release.yml
Due: yaml-fmt

release: 18.0.1 [skip ci]
  docs/history/versioned_docs/version-18.0.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-18.0.1/developer/02-Setup.md
  docs/history/versioned_docs/version-18.0.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-18.0.1/user/01-Introduction.md
  docs/history/versioned_docs/version-18.0.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-18.0.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-18.0.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  04eac0d23314d896c74513974deed7d07deb93a0
Due: none

new(infisical): secretops tooling
  .envrc
  binWrapper/infisical.nix
  default.nix
  golang/gattai/default.nix
  golang/kubefwd/default.nix
  golang/nix-share/default.nix
Due: nixpkgs-fmt, build-nix

release: 18.1.0 [skip ci]
  docs/history/versioned_docs/version-18.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-18.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-18.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-18.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-18.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-18.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-18.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  1cd7c1c096d9c759bb055ab564ac1cc32b850463
Due: none

new(telepresence): better local development for kubernetes
  default.nix
  golang/telepresence/default.nix
Due: nixpkgs-fmt, build-nix

release: 18.2.0 [skip ci]
  docs/history/versioned_docs/version-18.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-18.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-18.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-18.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-18.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-18.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-18.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  d1011b295f20e1f3b042688624b84f151c50afe1
Due: none

new(mirrord): CLI for local kubernetes development
  binWrapper/mirrord.nix
  default.nix
Due: nixpkgs-fmt, build-nix

release: 18.3.0 [skip ci]
  docs/history/versioned_docs/version-18.3.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-18.3.0/developer/02-Setup.md
  docs/history/versioned_docs/version-18.3.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-18.3.0/user/01-Introduction.md
  docs/history/versioned_docs/version-18.3.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-18.3.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-18.3.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  dd714ec584e03a6f9aadeb54531ead22f8bd702a
Due: none

update(mirrord): to version 3.65.2
  binWrapper/mirrord.nix
Due: nixpkgs-fmt, build-nix

release: 19.0.0 [skip ci]
  docs/history/versioned_docs/version-19.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-19.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-19.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-19.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-19.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-19.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-19.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  57158ec5a3f311545f28c2b5f99e6b711ac67cd9
Due: none

update(mirrord): to v3.67.0
  binWrapper/mirrord.nix
Due: nixpkgs-fmt, build-nix

update(infisical): to v0.12.2
  binWrapper/infisical.nix
Due: nixpkgs-fmt, build-nix

fix: semantic-release using nodejs v20
  flake.lock
  flake.nix
  nix/env.nix
  nix/packages.nix
Due: nixpkgs-fmt, build-nix

fix: missing export for unstable 20th sep 2023
  nix/packages.nix
Due: nixpkgs-fmt, build-nix

fix: use nixos branch
  flake.lock
  flake.nix
Due: nixpkgs-fmt, build-nix

release: 20.0.0 [skip ci]
  docs/history/versioned_docs/version-20.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-20.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-20.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-20.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-20.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-20.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-20.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  20693a1c34c807aa74f2cb917461b8655202a7a7
Due: none

new(cargo2unit): Converts cargo's json output to JUnit XML
  default.nix
  flake.lock
  flake.nix
  rust/cargo2junit/default.nix
  rust/default.nix
  rust/lib.nix
Due: nixpkgs-fmt, build-nix

release: 20.1.0 [skip ci]
  docs/history/versioned_docs/version-20.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-20.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-20.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-20.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-20.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-20.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-20.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  cb1434076f9a27825fd35605c535c0d2cdbefd73
Due: none

update(infisical): to 0.13.0
  binWrapper/infisical.nix
Due: nixpkgs-fmt, build-nix

release: 21.0.0 [skip ci]
  docs/history/versioned_docs/version-21.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-21.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-21.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-21.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-21.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-21.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-21.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  82cce29ae2d3c150247d112c513e8be274218b91
Due: none

update(mirrord): to 3.72.0
  .gitignore
  binWrapper/mirrord.nix
Due: nixpkgs-fmt, build-nix

fix: incorrect permission given on linux
  binWrapper/mirrord.nix
Due: nixpkgs-fmt, build-nix

release: 22.0.0 [skip ci]
  docs/history/versioned_docs/version-22.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-22.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-22.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-22.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-22.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-22.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-22.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  36397f2964d94a345889c1243d83708814c72e0b
Due: none

fix(drv): mirrird's linux binary not executable
  binWrapper/mirrord.nix
Due: nixpkgs-fmt, build-nix

release: 22.0.1 [skip ci]
  docs/history/versioned_docs/version-22.0.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-22.0.1/developer/02-Setup.md
  docs/history/versioned_docs/version-22.0.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-22.0.1/user/01-Introduction.md
  docs/history/versioned_docs/version-22.0.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-22.0.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-22.0.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  4d3f6e049e1e2ad37d3ec5724d9e7df452294eac
Due: none

new: two new packages, typescript-json-schema and swagger-typescript-api
  node/18/export.nix
  node/18/node-packages.json
  node/18/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 22.1.0 [skip ci]
  docs/history/versioned_docs/version-22.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-22.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-22.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-22.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-22.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-22.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-22.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  e9b9c21cf824aa6fa9b4cfeb067d22f60722cd17
Due: none

new(toml-cli): simple CLI for editing and querying TOML files
  rust/default.nix
  rust/toml-cli/default.nix
Due: nixpkgs-fmt, build-nix

Path conditions:
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
  build-nix: any of: ^.*\.nix$
  gitlint-linter: any of: (atomi_release.yaml|.gitlint)
  cfg-scripts: any of: ^.*\.sh$
  generate-npm-pkgs: any of: ^node/node-packages\.json$
