Repository kirinnee/test-nix-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-fmt, md-fmt, nixpkgs-fmt, build-nix, gitlint-linter, cfg-scripts, generate-npm-pkgs

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

build-nix:
  name: Build NIX Packages
  entry: pls test
  language: system
  pass_filenames: false

gitlint-linter:
  name: Lints Gitlint to conform to atomi_release.yaml
  entry: sg gitlint
  language: system
  pass_filenames: false

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

generate-npm-pkgs:
  name: Generate Nodejs NIX Packages
  entry: pls gen:node:silent
  pass_filenames: false
  language: system

release: 22.2.0 [skip ci]
  docs/history/versioned_docs/version-22.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-22.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-22.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-22.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-22.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-22.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-22.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

update(sg): update to 0.7.1
  .envrc
  default.nix
  flake.lock
  jetbrains/default.nix
  jetbrains/editor.nix
  node/20/composition.nix
  node/20/export.nix
  node/20/node-env.nix
  node/20/node-packages.json
  node/20/node-packages.nix
  scripts/Taskfile.gen.yml
  shellWrapper/default.nix
  trivial.nix
Due: yaml-fmt, nixpkgs-fmt, build-nix

ci: use flakes
  .github/workflows/checks.yml
Due: yaml-fmt

fix: releaser
  flake.lock
  flake.nix
  nix/packages.nix
Due: nixpkgs-fmt, build-nix

release: 23.0.0 [skip ci]
  docs/history/versioned_docs/version-23.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-23.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-23.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-23.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-23.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-23.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-23.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  099b7e7850d00d0e376aade2b9ad62683e6440a5
Due: none

chore: check if new sg works
  flake.lock
  flake.nix
  nix/env.nix
  nix/packages.nix
Due: nixpkgs-fmt, build-nix

fix(semantic-generator): nodejs flakes upstream to be pinned
  default.nix
  flake.nix
  node/20/export.nix
Due: nixpkgs-fmt, build-nix

release: 23.0.1 [skip ci]
  docs/history/versioned_docs/version-23.0.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-23.0.1/developer/02-Setup.md
  docs/history/versioned_docs/version-23.0.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-23.0.1/user/01-Introduction.md
  docs/history/versioned_docs/version-23.0.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-23.0.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-23.0.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  6ff86a09a767d3e0d20994213e43de507c8a8c37
Due: none

update(sg): update 0.8.0
  default.nix
  flake.lock
  flake.nix
  nix/env.nix
  nix/packages.nix
  node/20/export.nix
  node/20/node-packages.json
  node/22/composition.nix
  node/22/export.nix
  node/22/node-env.nix
  node/22/node-packages.json
  node/22/node-packages.nix
  scripts/Taskfile.gen.yml
  scripts/ci/release.sh
Due: yaml-fmt, nixpkgs-fmt, build-nix, cfg-scripts

ci: temporarily fix releaser
  scripts/ci/release.sh
Due: cfg-scripts

ci: fix github action
  .github/workflows/release.yml
Due: yaml-fmt

ci: fix github action
  .github/workflows/checks.yml
Due: yaml-fmt

ci: fix github action
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yaml-fmt

fix: release to use new setup action
  .github/workflows/release.yml
Due: yaml-fmt

release: 24.0.0 [skip ci]
  docs/history/versioned_docs/version-24.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-24.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-24.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-24.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-24.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-24.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-24.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  666a241a845480c85d100499afbe111a9ebbac8e
Due: none

update(sg): from 0.8.0 to 0.8.3
  node/22/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 25.0.0 [skip ci]
  docs/history/versioned_docs/version-25.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-25.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-25.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-25.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-25.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-25.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-25.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  28c4177c6b34f6d3ff411e769a209501655d5d4e
Due: none

new(sdm): StrongDM CLI, tunneling tool
  binWrapper/sdm.nix
  default.nix
Due: nixpkgs-fmt, build-nix

Notes added by 'git notes add'
  6bff7beb81a21d72be51403a1c33740da308ebcd
Due: none

release: 25.1.0 [skip ci]
  docs/history/versioned_docs/version-25.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-25.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-25.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-25.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-25.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-25.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-25.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

update(semantic-generator): from 0.8.3 to 0.8.4
  node/22/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 26.0.0 [skip ci]
  docs/history/versioned_docs/version-26.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-26.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-26.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-26.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-26.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-26.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-26.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  69679d11086f6421bcc67b102810369af4eaa30e
Due: none

update(semantic-generator): from 0.8.4 to 0.9.0
  node/22/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 27.0.0 [skip ci]
  docs/history/versioned_docs/version-27.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-27.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-27.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-27.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-27.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-27.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-27.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  164d6fd91e41410bfd0d8737ec77388346045665
Due: none

update(semantic-generator): from 0.9.0 to 0.10.1
  node/22/node-packages.nix
Due: nixpkgs-fmt, build-nix

fix: use new sg and versioning
  atomi_release.yaml
  nix/packages.nix
Due: yaml-fmt, nixpkgs-fmt, build-nix, gitlint-linter

fix: remove documentation
  atomi_release.yaml
Due: yaml-fmt, gitlint-linter

release: 28.0.0 [skip ci]
  docs/user/03-Changelog.md
Due: md-fmt

Notes added by 'git notes add'
  6e28f6405ca3f2ecd75d494a2911e7e5f368c8b5
Due: none

Path conditions:
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
  build-nix: any of: ^.*\.nix$
  gitlint-linter: any of: (atomi_release.yaml|.gitlint)
  cfg-scripts: any of: ^.*\.sh$
  generate-npm-pkgs: any of: ^node/node-packages\.json$
