Repository kirinnee/test-nix-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-fmt, md-fmt, nixpkgs-fmt, build-nix, gitlint-linter, cfg-scripts, generate-npm-pkgs

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

build-nix:
  name: Build NIX Packages
  entry: pls test
  language: system
  pass_filenames: false

gitlint-linter:
  name: Lints Gitlint to conform to atomi_release.yaml
  entry: sg gitlint
  language: system
  pass_filenames: false

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

generate-npm-pkgs:
  name: Generate Nodejs NIX Packages
  entry: pls gen:node:silent
  pass_filenames: false
  language: system

new(precommit-nix-patch): tool to patch pre-commit to invoke nix-shell
  .envrc
  nix/env.nix
  nix/packages.nix
  nix/shells.nix
  shell.nix
  shellWrapper/default.nix
  shellWrapper/precommit-patch-nix/default.nix
  shellWrapper/precommit-patch-nix/precommit-nix-patch.sh
Due: nixpkgs-fmt, build-nix, cfg-scripts

fix(config): incorrect ci due to env folder renamed to nix
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yaml-fmt

release: 15.2.0 [skip ci]
  docs/history/versioned_docs/version-15.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-15.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-15.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-15.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-15.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-15.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-15.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  e68f72c6c5b97a4b6698db19cdb4228bbfb28a96
Due: none

new(upstash): tools to work with upstash SaaS
  .pre-commit-config.yaml
  default.nix
  node/14/composition.nix
  node/14/default.nix
  node/14/export.nix
  node/14/node-env.nix
  node/14/node-packages.json
  node/14/node-packages.nix
  node/16/composition.nix
  node/16/export.nix
  node/16/node-env.nix
  node/16/node-packages.json
  node/16/node-packages.nix
  scripts/Taskfile.gen.yml
Due: yaml-fmt, nixpkgs-fmt, build-nix

release: 15.3.0 [skip ci]
  docs/history/versioned_docs/version-15.3.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-15.3.0/developer/02-Setup.md
  docs/history/versioned_docs/version-15.3.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-15.3.0/user/01-Introduction.md
  docs/history/versioned_docs/version-15.3.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-15.3.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-15.3.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  0efb9e282d99de178b79f679e4ba1f9f0662b11c
Due: none

update(precommit-patch-nix): to 1.1.0 to improve loading speed
  shellWrapper/precommit-patch-nix/default.nix
  shellWrapper/precommit-patch-nix/precommit-nix-patch.sh
Due: nixpkgs-fmt, build-nix, cfg-scripts

release: 16.0.0 [skip ci]
  docs/history/versioned_docs/version-16.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-16.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-16.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-16.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-16.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-16.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-16.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  e7d599a38c1d2a8fb416bd5fd8b6e1ce1273b1d0
Due: none

update(pls): bump task to 3.20.0
  shellWrapper/default.nix
  shellWrapper/pls/default.nix
Due: nixpkgs-fmt, build-nix

release: 17.0.0 [skip ci]
  docs/history/versioned_docs/version-17.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-17.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-17.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  c954b72779d6ace9546c7f5892f3fdb011252987
Due: none

update(jetbrains): from 2022-2-3 to 2022-3-2
  default.nix
Due: nixpkgs-fmt, build-nix

new(action-docs): tool to generate documentation for GitHub actions
  node/16/export.nix
  node/16/node-packages.json
  node/16/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 17.1.0 [skip ci]
  docs/history/versioned_docs/version-17.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-17.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-17.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  90dad72520d5d3c29b97c85eaf9f6244e4200971
Due: none

config(drv): allow cross compilation
  default.nix
  shellWrapper/default.nix
Due: nixpkgs-fmt, build-nix

release: 17.1.1 [skip ci]
  docs/history/versioned_docs/version-17.1.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.1.1/developer/02-Setup.md
  docs/history/versioned_docs/version-17.1.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.1.1/user/01-Introduction.md
  docs/history/versioned_docs/version-17.1.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.1.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.1.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  166d3fdea8298f6641d1988fd7e4c38eeb0b29e1
Due: none

new(kubefwd): kubectl tool to manage port-forwarding
  default.nix
  golang/kubefwd/default.nix
Due: nixpkgs-fmt, build-nix

release: 17.2.0 [skip ci]
  docs/history/versioned_docs/version-17.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-17.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-17.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  14874ace0ba7db3d5666cf55bc7dd42141a35b58
Due: none

new(shell-gpt): CLI for chatGPT
  default.nix
  python/sgpt/default.nix
Due: nixpkgs-fmt, build-nix

release: 17.3.0 [skip ci]
  docs/history/versioned_docs/version-17.3.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.3.0/developer/02-Setup.md
  docs/history/versioned_docs/version-17.3.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.3.0/user/01-Introduction.md
  docs/history/versioned_docs/version-17.3.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.3.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.3.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  a86c45708c6d88ea48940da3df7578a0789b8b5a
Due: none

new(flyctl): CLI to deploy fly.io application
  default.nix
  golang/flyctl/default.nix
Due: nixpkgs-fmt, build-nix

release: 17.4.0 [skip ci]
  docs/history/versioned_docs/version-17.4.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-17.4.0/developer/02-Setup.md
  docs/history/versioned_docs/version-17.4.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-17.4.0/user/01-Introduction.md
  docs/history/versioned_docs/version-17.4.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-17.4.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-17.4.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  49e5687de27eee25a88fe7759e7a54979a96cd46
Due: none

update(flyctl): to 0.1.22
  golang/flyctl/default.nix
Due: nixpkgs-fmt, build-nix

release: 18.0.0 [skip ci]
  docs/history/versioned_docs/version-18.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-18.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-18.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-18.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-18.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-18.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-18.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  d44578f1ff050b3c0e4f266e0ebe756848b2f7b9
Due: none

config: migrate to flakes
  Taskfile.yml
  default.nix
  flake.lock
  flake.nix
  golang/flyctl/default.nix
  golang/gattai/default.nix
  golang/kubefwd/default.nix
  golang/narwhal/0.3.11.nix
  golang/narwhal/default.nix
  node/14/export.nix
  node/16/export.nix
  python/gitlint/default.nix
  python/sgpt/default.nix
  shellWrapper/default.nix
  shellWrapper/pls/default.nix
Due: yaml-fmt, nixpkgs-fmt, build-nix, gitlint-linter

config: atomi classic shim for critical package sg
  .gitignore
  default.nix
  node/export.nix
Due: nixpkgs-fmt, build-nix

config: atomi classic flake
  default.nix
  flake.lock
  flake.nix
  node/export.nix
Due: nixpkgs-fmt, build-nix

config: fully migrated to flakes
  .envrc
  .pre-commit-config.yaml
  default.nix
  flake.lock
  flake.nix
  nix/env.nix
  nix/packages.nix
  nix/shells.nix
  node/14/default.nix
  node/14/export.nix
  node/14/node-packages.json
  node/14/node-packages.nix
  node/16/composition.nix
  node/16/node-env.nix
  node/18/composition.nix
  node/18/export.nix
  node/18/node-env.nix
  node/18/node-packages.json
  node/18/node-packages.nix
  scripts/Taskfile.fmt.yml
  scripts/Taskfile.gen.yml
  shell.nix
  test-shell.nix
Due: yaml-fmt, nixpkgs-fmt, build-nix

fix: ci not flakes compatible
  .github/workflows/release.yml
Due: yaml-fmt

fix: miswatch of nix files
  .envrc
Due: none

Path conditions:
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
  build-nix: any of: ^.*\.nix$
  gitlint-linter: any of: (atomi_release.yaml|.gitlint)
  cfg-scripts: any of: ^.*\.sh$
  generate-npm-pkgs: any of: ^node/node-packages\.json$
