Repository kirinnee/test-nix-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-fmt, md-fmt, nixpkgs-fmt, build-nix, gitlint-linter, cfg-scripts, generate-npm-pkgs

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

build-nix:
  name: Build NIX Packages
  entry: pls test
  language: system
  pass_filenames: false

gitlint-linter:
  name: Lints Gitlint to conform to atomi_release.yaml
  entry: sg gitlint
  language: system
  pass_filenames: false

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

generate-npm-pkgs:
  name: Generate Nodejs NIX Packages
  entry: pls gen:node:silent
  pass_filenames: false
  language: system

ci(fix): using old version of semantic generator
  env/packages.nix
Due: nixpkgs-fmt, build-nix

config(nix): update all package version in nix-shell
  env/packages.nix
Due: nixpkgs-fmt, build-nix

config(fmt): allow formatters to ignore node2nix generated content
  .ignore
  Taskfile.yml
  node/composition.nix
  node/node-env.nix
  node/node-packages.nix
Due: yaml-fmt, nixpkgs-fmt, build-nix

fix: node2nix not executed before commit
  node/composition.nix
  node/node-env.nix
  node/node-packages.nix
Due: nixpkgs-fmt, build-nix

ci(fix): pre-commit hooks interfering with releaser
  scripts/ci/release.sh
Due: cfg-scripts

release: 8.2.0 [skip ci]
  docs/history/versioned_docs/version-8.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-8.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-8.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-8.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-8.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-8.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-8.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  b14b64f44788024440198406b88a13841ff1a314
Due: none

fix(drv): dotnet-ef not pointing to a SDK
  nuget/common.nix
  nuget/default.nix
Due: nixpkgs-fmt, build-nix

release: 8.2.1 [skip ci]
  docs/history/versioned_docs/version-8.2.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-8.2.1/developer/02-Setup.md
  docs/history/versioned_docs/version-8.2.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-8.2.1/user/01-Introduction.md
  docs/history/versioned_docs/version-8.2.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-8.2.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-8.2.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  84e55e3fa17b0fa353bda6c9f40b6ff00cde3477
Due: none

update(jetbrains): to v2022.1
  default.nix
  env/packages.nix
  jetbrains/darwin.nix
  jetbrains/ide.nix
  jetbrains/linux.nix
  jetbrains/versions.json
  node/composition.nix
  node/default.nix
  node/export.nix
  node/node-env.nix
  node/node-packages.json
  node/node-packages.nix
Due: nixpkgs-fmt, build-nix, generate-npm-pkgs

ci: skip binary cache if not root permission
  .github/workflows/checks.yml
Due: yaml-fmt

release: 9.0.0 [skip ci]
  docs/history/versioned_docs/version-9.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-9.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-9.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-9.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-9.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-9.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-9.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  19dea637d13a3c4c0bb8cd1fa13819b5179a5d98
Due: none

new(awsmfa): AWS CLI's mfa for Singapore region
  default.nix
  shellWrapper/awsmfa/awsmfa.sh
  shellWrapper/awsmfa/default.nix
  shellWrapper/default.nix
  shellWrapper/pls/default.nix
  shellWrapper/trivialBuilders.nix
  test-shell.nix
Due: nixpkgs-fmt, build-nix, cfg-scripts

release: 9.1.0 [skip ci]
  docs/history/versioned_docs/version-9.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-9.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-9.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-9.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-9.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-9.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-9.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  f6feb474fc030d6505f40f16e02c66db7a61aac0
Due: none

fix(config): node packages configuration for pre-commit
  node/node-packages.nix
Due: nixpkgs-fmt, build-nix

fix(drv): jetbrains remote failing due to sudo-less mv
  .gitignore
  jetbrains/linux.nix
Due: nixpkgs-fmt, build-nix

new(spacectl): spacelift commandline interface
  default.nix
  golang/spacectl/default.nix
Due: nixpkgs-fmt, build-nix

new(spacectl): spacelift command line interface
  node/node-packages.nix
Due: nixpkgs-fmt, build-nix

config(ci): use custom runners
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yaml-fmt

config(ci): bump atomi CI action
  .github/workflows/checks.yml
  scripts/ci/pre-commit.sh
Due: yaml-fmt, cfg-scripts

config(ci): bump atomi CI action
  .github/workflows/release.yml
Due: yaml-fmt

config(ci): ugrade AtomiCI Action to v2.3.0
  .github/workflows/release.yml
Due: yaml-fmt

config(ci): ugrade AtomiCI Action to v2.3.1
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yaml-fmt

release: 9.2.0 [skip ci]
  docs/history/versioned_docs/version-9.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-9.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-9.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-9.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-9.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-9.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-9.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  05db0941d282a06d46efc1e7bf7bcc9d655f98c7
Due: none

new(gattai): fusion ha
  default.nix
  golang/gattai/default.nix
Due: nixpkgs-fmt, build-nix

config(env): updated nix
  env/packages.nix
  nuget/common.nix
Due: nixpkgs-fmt, build-nix

release: 9.3.0 [skip ci]
  docs/history/versioned_docs/version-9.3.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-9.3.0/developer/02-Setup.md
  docs/history/versioned_docs/version-9.3.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-9.3.0/user/01-Introduction.md
  docs/history/versioned_docs/version-9.3.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-9.3.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-9.3.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  ab43848a63baf303043c30203507112aed600a08
Due: none

update(gattai): from v0.1.0 to v0.1.1
  golang/gattai/default.nix
Due: nixpkgs-fmt, build-nix

release: 10.0.0 [skip ci]
  docs/history/versioned_docs/version-10.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-10.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-10.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-10.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-10.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-10.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-10.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  82c1079aa29319ce82e878f439f9b33f271aa8a7
Due: none

fix(drv): gattai github repository not playing well with fetchFromGitHub
  default.nix
  golang/gattai/default.nix
  golang/narwhal/0.3.11.nix
  golang/narwhal/default.nix
  golang/spacectl/default.nix
  jetbrains/darwin.nix
  jetbrains/default.nix
  jetbrains/ide.nix
  jetbrains/versions.json
  node/composition.nix
  node/node-env.nix
  node/node-packages.nix
Due: nixpkgs-fmt, build-nix

release: 10.0.1 [skip ci]
  docs/history/versioned_docs/version-10.0.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-10.0.1/developer/02-Setup.md
  docs/history/versioned_docs/version-10.0.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-10.0.1/user/01-Introduction.md
  docs/history/versioned_docs/version-10.0.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-10.0.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-10.0.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  3d80d41a5254617a613e2c149ac29ec83c5bff81
Due: none

new(jetbrains): jetbrains IDE with remote capabilities
  default.nix
  jetbrains/common.nix
  jetbrains/default.nix
  jetbrains/editor.nix
  jetbrains/linux.nix
Due: nixpkgs-fmt, build-nix

Path conditions:
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
  build-nix: any of: ^.*\.nix$
  gitlint-linter: any of: (atomi_release.yaml|.gitlint)
  cfg-scripts: any of: ^.*\.sh$
  generate-npm-pkgs: any of: ^node/node-packages\.json$
