Repository kirinnee/test-nix-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-fmt, md-fmt, nixpkgs-fmt, build-nix, gitlint-linter, cfg-scripts, generate-npm-pkgs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.15.1
    hooks:
      - id: gitlint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shfmt
      - id: shellcheck
  - repo: local
    hooks:
      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

      - id: build-nix
        name: Build NIX Packages
        entry: pls test
        files: ^.*\.nix$
        language: system
        pass_filenames: false

      - id: gitlint-linter
        name: Lints Gitlint to conform to atomi_release.yaml
        entry: sg gitlint
        files: (atomi_release.yaml|.gitlint)
        language: system
        pass_filenames: false

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: generate-npm-pkgs
        name: Generate Nodejs NIX Packages
        entry: pls gen:node:silent
        files: ^node/node-packages\.json$
        pass_filenames: false
        language: system

release: 10.1.0 [skip ci]
  docs/history/versioned_docs/version-10.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-10.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-10.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-10.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-10.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-10.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-10.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  b9efcdc312ce11be88a3a640b5de67eb37b981fa
Due: none

update(pls): allow for recursive parent search
  shellWrapper/pls/default.nix
Due: nixpkgs-fmt, build-nix

release: 11.0.0 [skip ci]
  docs/history/versioned_docs/version-11.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-11.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-11.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-11.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-11.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-11.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-11.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  9ee8b33c4f549c30102dc31c27033af4976d7ff1
Due: none

new(idea-u): intellij utlimate
  jetbrains/default.nix
Due: nixpkgs-fmt, build-nix

release: 11.1.0 [skip ci]
  docs/history/versioned_docs/version-11.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-11.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-11.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-11.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-11.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-11.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-11.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  c9995afb075bdffd401a7f4f5204086d386678bf
Due: none

new(nix-share): p2p sharing client for nix-store
  default.nix
  golang/nix-share/default.nix
Due: nixpkgs-fmt, build-nix

release: 11.2.0 [skip ci]
  docs/history/versioned_docs/version-11.2.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-11.2.0/developer/02-Setup.md
  docs/history/versioned_docs/version-11.2.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-11.2.0/user/01-Introduction.md
  docs/history/versioned_docs/version-11.2.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-11.2.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-11.2.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  f8ff9692172652c1e7bec763639a58a2d9686c48
Due: none

update(nix-share): from v0.1.0 to v0.1.1
  golang/nix-share/default.nix
Due: nixpkgs-fmt, build-nix

release: 12.0.0 [skip ci]
  docs/history/versioned_docs/version-12.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-12.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-12.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-12.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-12.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-12.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-12.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  a7afbc633ed1be500bc43c68d491137b883294fb
Due: none

update(nix-share): from v0.1.1 to v0.1.2
  golang/nix-share/default.nix
Due: nixpkgs-fmt, build-nix

release: 13.0.0 [skip ci]
  docs/history/versioned_docs/version-13.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-13.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-13.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-13.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-13.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-13.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-13.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  3bdbd71e2bf5762377fd8239e57abc997e24fff2
Due: none

fix(drv): jetbrains derivation not working properly in mac
  jetbrains/default.nix
Due: nixpkgs-fmt, build-nix

release: 13.0.1 [skip ci]
  docs/history/versioned_docs/version-13.0.1/developer/01-Contributing.md
  docs/history/versioned_docs/version-13.0.1/developer/02-Setup.md
  docs/history/versioned_docs/version-13.0.1/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-13.0.1/user/01-Introduction.md
  docs/history/versioned_docs/version-13.0.1/user/02-Quick Start.md
  docs/history/versioned_docs/version-13.0.1/user/03-Changelog.md
  docs/history/versioned_sidebars/version-13.0.1-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  d40427378e0e5cb5bf916d7abe4b56ad085a2686
Due: none

update(jetbrains): to 2022-2-3
  default.nix
Due: nixpkgs-fmt, build-nix

remove(narwhal): legacy version 0.3.11
  default.nix
Due: nixpkgs-fmt, build-nix

fix(config): narwhal
  default.nix
Due: nixpkgs-fmt, build-nix

fix(drv): sg runtime pnpm
  node/export.nix
Due: nixpkgs-fmt, build-nix

fix(drv): remove sg from darwin
  default.nix
  node/export.nix
Due: nixpkgs-fmt, build-nix

fix(drv): sg makeWrapper incorrect syntax
  node/export.nix
Due: nixpkgs-fmt, build-nix

fix(drv): wrapProgram instead of makeWrapper
  node/export.nix
Due: nixpkgs-fmt, build-nix

release: 14.0.0 [skip ci]
  docs/history/versioned_docs/version-14.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-14.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-14.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-14.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-14.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-14.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-14.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  0ee6b0ce802bf1a43ef60c367a1365d7a121a142
Due: none

new(aws-export-credentials): tool to support .credentials with AWS SSO
  default.nix
  python/aws-export-credentials/default.nix
Due: nixpkgs-fmt, build-nix

release: 14.1.0 [skip ci]
  docs/history/versioned_docs/version-14.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-14.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-14.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-14.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-14.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-14.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-14.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  ccf010e9c95b2c9610ea9f0e050a9015aa70c9d6
Due: none

update(aws-export-credentials): use botocore v1-29-26
  python/aws-export-credentials/default.nix
Due: nixpkgs-fmt, build-nix

release: 15.0.0 [skip ci]
  docs/history/versioned_docs/version-15.0.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-15.0.0/developer/02-Setup.md
  docs/history/versioned_docs/version-15.0.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-15.0.0/user/01-Introduction.md
  docs/history/versioned_docs/version-15.0.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-15.0.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-15.0.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  271e00acc720cb84446524fcfff0cceaf9a633a0
Due: none

new(bashly): framework to build pure bash CLIs
  .envrc
  Taskfile.yml
  default.nix
  env/env.nix
  env/packages.nix
  ruby/bashly/Gemfile
  ruby/bashly/Gemfile.lock
  ruby/bashly/default.nix
  ruby/bashly/gemset.nix
  ruby/default.nix
  scripts/Taskfile.ci.yml
  scripts/Taskfile.fmt.yml
  scripts/Taskfile.gen.yml
Due: yaml-fmt, nixpkgs-fmt, build-nix

chore: fix pre-commit for scripts file
  scripts/Taskfile.fmt.yml
  scripts/Taskfile.gen.yml
Due: yaml-fmt

release: 15.1.0 [skip ci]
  docs/history/versioned_docs/version-15.1.0/developer/01-Contributing.md
  docs/history/versioned_docs/version-15.1.0/developer/02-Setup.md
  docs/history/versioned_docs/version-15.1.0/developer/99-CommitConventions.md
  docs/history/versioned_docs/version-15.1.0/user/01-Introduction.md
  docs/history/versioned_docs/version-15.1.0/user/02-Quick Start.md
  docs/history/versioned_docs/version-15.1.0/user/03-Changelog.md
  docs/history/versioned_sidebars/version-15.1.0-sidebars.json
  docs/history/versions.json
Due: md-fmt

Notes added by 'git notes add'
  7cb5b8f1d23c079dbef9b78ed7520418bf5ea084
Due: none
